@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@200&family=Space+Grotesk:wght@500&display=swap");

* {
  padding: 0;
  margin: 0;
}

body {
  background-color: #596473;
  font-family: "Space Grotesk", sans-serif;
}

.header {
  margin-top: 86px;
  margin-bottom: 60px;
}

.header p {
  text-align: center;
  color: #fff;
  font-size: 64px;
  font-weight: 700;
}

.container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 60%;
  margin: auto;
}

.calendar-container {
  background-color: #ffffff;
  flex: 1;
  user-select: none;
  border-radius: 10px;
  margin-bottom: 50px;
}

.month-year {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  padding-top: 28px;
}

.current-date {
  color: #7f5af0;
  text-align: center;
  font-size: 20px;
  font-weight: 1000;
}

.calendar {
  margin-top: 20px;
  padding: 20px 20px 40px 20px;
}

.calendar ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  text-align: center;
}

.calendar ul li {
  width: calc(100% / 7);
}

.calendar .days li {
  cursor: pointer;
  margin-bottom: 20px;
  color: #16161a;
  font-size: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.calendar .weeks {
  margin-bottom: 30px;
}

.calendar .weeks li {
  color: #16161a;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.prev,
.next {
  cursor: pointer;
}

#day-info {
  box-sizing: border-box;
  flex: 1;
  min-height: 550px;
  background: #16161a;
  color: white;
  border-radius: 10px;
  padding: 35px 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  display: none;
}

#day-info .dayName {
  color: #7f5af0;
  font-size: 24px;
}

#day-info .monthDate {
  color: #fff;
  font-size: 32px;
  margin-bottom: 34px;
  letter-spacing: 1.5px;
}

#day-info .currentHoliday {
  color: #fff;
  font-size: 32px;
  margin-bottom: 20px;
}

#day-info .heading {
  color: #7f5af0;
  font-size: 24px;
  margin-bottom: 25px;
}

#day-info .upcomingHoliday {
  margin-bottom: 18px;
  display: flex;
  justify-content: flex-start;
  gap: 8px;
}

#day-info .holidayName {
  color: #fff;
  font-size: 18px;
  margin-bottom: 5px;
}

#day-info .holidayDate {
  color: #fff;
  font-size: 14px;
}

#day-info .upcomingHoliday .circle {
  background-color: red;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  margin-top: 8px;
}

li .circle {
  width: 4px;
  height: 4px;
  border-radius: 50%;
}

@media (max-width: 1200px) {
  .container {
    width: 80%;
  }
}

@media (max-width: 820px) {
  .container {
    width: 90%;
  }
}

@media (max-width: 750px) {
  .container {
    flex-direction: column;
    width: 70%;
  }

  .calendar-container {
    width: 100%;
    margin-bottom: 0;
  }

  #day-info {
    width: 100%;
  }
}

@media (max-width: 470px) {
  .container {
    width: 90%;
  }
}